/*cabeçalho (Header)*/

header{
    background-color: rgb(93, 128, 197);
    padding: 8px 0;
    border-bottom: 2px solid #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0,01);
}

.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

/*Conteúdo (Habilidade, projeto e contato)*/

.navMenu{
    width: fit-content;
    margin: 0 auto;

}

.navMenu a{
    text-decoration: none;
    color: #1d1d1d;
    margin: 0 20px;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1.2rem;
    font-weight: bolder;
}

.navMenu :hover{
    color: #dde8f8;
}

/*Configuração dos icones das redes Sociais*/

.iconeSocial{
    display: flex;
    gap: 5px;
}

.botaoSocial{
    width: 60px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.botaoSocial:hover{
    transform: scale(1.1);
}

/*Contúdo que contém a foto e a biografia Profissonal*/

.content-Wrapper{
    max-width: 1200px;
    margin: 2px auto;
    padding: 10px;
}

.imagemPerfil{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #d3d3d3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagemPerfil {
    width: 100%; /* Faz a imagem ocupar 100% da largura da sidebar */
    height: auto;
   
}

/* --- Caixa da Bio --- */
.caixaBio {
    background-color: #f9f9f9; /* cinza claro */
    border: 1px solid #e0e0e0; /* Borda sutil */
    padding: 20px;
    margin-top: 1px; /* Espaço entre a foto e a caixa */
    border-radius: 10px; /* Cantos levemente arredondados */
}

.caixaBio h2 {
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase; /* Deixa o título em maiúsculas */
    color: #333;
    border-bottom: 2px solid #e0e0e0; /* Linha abaixo do título */
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.detalhesBio {
    margin-bottom: 5px; /* Espaço entre cada item  */
    font-size: 0.95em;
    line-height: 1.4;
}

.detalhesBio strong {
    display: block; /* Faz o título ficar em uma linha separada */
    font-weight: 700;
    color: #444;
    margin-bottom: 4px;
}

.detalhesBio span {
    color: #666; /* Cor do texto de resposta */
}

.containerBio {
    display: flex;
    justify-content: space-between; /* garante espaço entre bio e habilidades */
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto; /* centraliza no meio da página */
    gap: 30px; /* espaço entre colunas */
    padding: 40px 20px;
}

.bioSideBar {
    flex: 0 0 250px;
}


/*conteúdo da Biografia da coluna do meio*/

.bioPrincipal {
    flex-grow: 1;
    display: flex;
    flex-direction: row; /* texto em coluna */
    align-items: flex-start;    /* centraliza horizontalmente */
    gap: 50px;
}

.bioPrincipalTexto{
    flex: 1;
    max-width: 100%; /* evita texto largo */
    text-align: justify;
    margin: 0 ; /* centraliza */
}

.bioPrincipal h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 0; /* Remove espaço extra no topo do H1 */
    margin-bottom: 20px;
    align-self: flex-start;
    width: 100%;
}

.bioPrincipal p  {
    font-size: 1.1em;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px;
    align-self: flex-start;
    width: 100%;
    font-weight: 500;
}

.bioPrincipal li  {
    font-size: 1.1em;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px;
    align-self: flex-start;
    width: 100%;
    font-weight: 500;
    
}

.detalhesBio p{
    font-size: 1.1em;
    margin-bottom: 10px;
}

.detalhesBio strong{
    color: #555;
    
}

/* Estilo para a Tabela/Layout de Habilidades */ 

#habilidadesTecnicnas {
    background-color: #0d001f;
    color: #fff;
    border-radius: 10px;
    padding: 25px;
    flex: 0 0 400px;
    flex-shrink: 0; /* impede de encolher */
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* Estrutura de Linha (Flexbox ou Grid) */
.habilidadeLinha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444; /* Linha divisória */
}

/* Estilo do Cabeçalho */
.habilidadeLinha.header {
    font-weight: bold;
    color: #0077b5; /* Cor de destaque */
    border-bottom: 2px solid #0077b5;
    margin-bottom: 5px;
    align-items: center;
}

/* Definição das Larguras das Colunas */
.habilidadeNome {
    flex: 4; /* Ocupa 3 partes da largura total */
    font-size: 0.9em;
    padding-right: 5px;
}

.habilidadeBarraContainer {
    flex: 2; /* Ocupa 2 partes da largura total */
    flex-shrink: 0;
    padding: 0 5px;
}

.habilidadeObs {
    flex: 4; /* Ocupa 3 partes da largura total */
    text-align: right;
    font-size: 0.75em;
    line-height: 1.1;
    
}

/* Estilos da Barra de Progresso */
.barraProgresso {
    background-color: #555; /* Fundo da barra */
    border-radius: 4px;
    height: 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.progresso {
    height: 100%;
    background-color: #00aaff; /* Cor de preenchimento da barra */
    transition: width 0.8s ease-in-out;
}

.porcentagem {
    /* Posicionamento do texto */
    position: absolute;
    top: 50%;
    right: 10px; /* Distância da borda direita da barra */
    transform: translateY(-50%); /* Centralização vertical */
}


/*Estilo para Projetos*/

#projetos {
    max-width: 1200px;
    margin: 5px auto; /* Espaçamento da seção de habilidades */
    padding: 20px;
}

#projetos h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 3px solid #5D80C5; /* Cor do cabeçalho */
    padding-bottom: 10px;
    display: inline-block; /* Ajusta a largura da linha abaixo do título */
    width: 100%;
}

.projetosContainer {
    display: flex;
    justify-content: space-around; /* Distribui os cartões igualmente */
    gap: 30px;
    flex-wrap: wrap; /* Garante que os cartões quebrem em telas menores */
}

.projetoCard {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-basis: 45%; /* Define a largura para caberem dois por linha */
    min-width: 300px; /* Garante que não fiquem muito estreitos */
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.projetoCard:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.projetoImagem {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}
 
.projetoCard h3 {
    color: #0077b5;
    margin-bottom: 10px;
}

/* Estilo para as tags de tecnologia */
.tecnologias span {
    display: inline-block;
    background-color: #f0f0f0;
    color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    margin: 5px 5px 15px 5px;
}

/* Botões de Ação */
.projetoLink {
    margin-top: 20px;
}

.projetoLink a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 0.9em;
}

.btnGithub {
    background-color: #333;
    color: #fff;
}

.btnGithub:hover {
    background-color: #000;
}


/* Estilo do Rodapé */
footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.footer-container p {
    margin: 0;
    font-size: 0.9em;
    
}

